/* Default style start */
:root {
  --main-text-color: #000000;
  --header-color: #666666;
  --links-color: #cc9933;
  --title-color: #333333;
  --country-text-color: #999999;
  --hr-color: #e9e9e9;
  --wh-text-color: #fff;
  --active-color: #a47312;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 1200px;
  font-family: "Muller", sans-serif;
  background-color: #f1f1f1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

select {
  border: none;
  outline: none;

  background-color: transparent;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Light"), url("/fonts/MullerLight.woff2") format("woff2"),
    url("/fonts/MullerLight.woff") format("woff");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Regular"),
    url("/fonts/MullerRegular.woff2") format("woff2"),
    url("/fonts/MullerRegular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Medium"), url("/fonts/MullerMedium.woff2") format("woff2"),
    url("/fonts/MullerMedium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Bold"), url("/fonts/MullerBold.woff2") format("woff2"),
    url("/fonts/MullerBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

/* Default style end */

/* Global style start */

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.section-title {
  margin: 0;
  padding-left: 40px;

  color: var(--title-color);
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
}

.section-descr {
  margin: 0;
}

.section-offset {
  padding: 70px 0;
}

.btn {
  padding: 13px 20px;

  border: 1px solid var(--links-color);
  border-radius: 10px;

  color: var(--links-color);
  font-size: 16px;
  line-height: 16px;

  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.btn:focus {
  background-color: var(--links-color);
  color: var(--wh-text-color);
}
.btn:hover {
  background-color: var(--links-color);
  color: var(--wh-text-color);
}
.btn:active {
  background-color: var(--active-color);
  color: var(--wh-text-color);
}

/* Global style end */

/* Header section start */

.header {
  padding-top: 40px;
}

.header__top {
  align-items: center;
  margin-bottom: 30px;
}

.header__top-left {
  margin-right: auto;
  align-items: center;
}

.header__logo {
  margin-right: 40px;
}

.header__nav {
  margin-right: 56px;
}

.nav__item:not(:last-child) {
  margin-right: 45px;
}

.header__bottom {
  align-items: center;
  padding: 14px 45px;

  background-color: var(--wh-text-color);

  border-radius: 15px;
}

.header__btn {
  min-width: 107px;
}

.header__btn:not(:last-child) {
  margin-right: 40px;
}

.header__log-in {
  font-size: 16px;
  line-height: 100%;
  color: var(--links-color);
}
.header__log-in svg path,
span {
  transition: color 0.3s ease-in-out, fill 0.3s ease-in-out;
}
.header__log-in svg {
  fill: var(--links-color);
}

.header__log-in:focus {
  outline: 1px solid var(--links-color);
  outline-offset: 7px;
}
.header__log-in:hover span {
  color: #f0bf5f;
}
.header__log-in:hover svg path {
  fill: #f0bf5f;
}
.header__log-in:active span {
  color: var(--active-color);
}
.header__log-in:active svg path {
  fill: var(--links-color);
}

.header__call-link {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: var(--header-color);

  transition: color 0.3s ease-in-out;
}
.header__call-link:focus {
  color: var(--links-color);
  outline: 1px solid var(--links-color);
  outline-offset: 5px;
}
.header__call-link:hover {
  color: var(--links-color);
}
.header__call-link:active {
  color: var(--active-color);
}

.header__link {
  font-size: 16px;
  line-height: 16px;
  color: var(--header-color);
}

.header__btns {
  padding-left: 57px;
  border-left: 1px solid #e1e1e1;
}

.nav__link {
  transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;
  color: inherit;
}
.nav__link:focus {
  color: var(--links-color);
  outline: 1px solid var(--links-color);
  outline-offset: 5px;
}
.nav__link:hover {
  color: var(--links-color);
}
.nav__link:active {
  color: var(--active-color);
}

/* Header section end */

/* Offers section start */

.offers__title {
  margin-bottom: 20px;
}

.offers__left-cards {
  flex-direction: column;
  margin-right: auto;
}

.offers__item {
  width: 573px;
  flex-direction: column;
  align-items: start;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 15px;

  color: var(--wh-text-color);
}

.offers__left {
  padding: 40px 0 40px 40px;
  transition: outline 0.3s ease-in-out;
}
.offers__left:focus-within {
  outline: 1px solid var(--links-color);
  outline-offset: 7px;
}
.offers__left:not(:last-child) {
  margin-bottom: 23px;
}

.offers__right {
  padding-top: 211px;
  padding-left: 40px;
  transition: outline 0.3s ease-in-out;
}
.offers__right:focus-within {
  outline: 1px solid var(--links-color);
  outline-offset: 7px;
}

.offers__card-title {
  margin: 0;
  margin-bottom: 15px;

  width: 299px;

  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
}

.offers__price {
  margin-bottom: 47px;

  font-size: 20px;
  line-height: 20px;
  opacity: 0.8;
}

.offers__link {
  background-image: url("/img/details-icon.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;

  padding-right: 20px;

  font-size: 16px;
  line-height: 16px;
  color: #ffcc66;

  transition: padding-right 0.3s ease-in-out, color 0.1s ease-in-out;
}
.offers__link:hover {
  padding-right: 40px;
}
.offers__link:active {
  color: var(--wh-text-color);
  padding-right: 20px;
}

.offers__card-title-right {
  font-size: 60px;
  line-height: 60px;
}

.offers__bc-maldiv {
  background-image: linear-gradient(
      90deg,
      rgba(48, 64, 89, 0.84) -2.9%,
      rgba(53, 65, 83, 0) 65.7%
    ),
    url("/img/bc-hero-maldiv.jpeg");
}
.offers__bc-creet {
  background-image: linear-gradient(
      90deg,
      rgba(48, 64, 89, 0.84) -2.9%,
      rgba(53, 65, 83, 0) 65.7%
    ),
    url("/img/bc-hero-creet.jpeg");
}
.offers__bc-vip {
  background-image: url("/img/bc-heror-vip.jpeg");
}

/* Offers section end */

/* About us section start */

.about-us__title {
  margin-bottom: 11px;
}

.about-us__descr {
  width: 888px;

  font-size: 16px;
  line-height: 200%;
  color: var(--main-text-color);
}

/* About us section end */

/* Services section start */

.services__title {
  margin-bottom: 20px;
}

.services__list {
  flex-wrap: wrap;
}

.services__item {
  width: 573px;
  padding: 26px 126px 50px 45px;

  background-repeat: no-repeat;
  background-position: top center;
  background-size: 572px 165px;

  padding-top: 190px;

  background-color: var(--wh-text-color);
  border-radius: 15px;

  transition: outline 0.3s ease-in-out;
}
.services__item:not(:nth-child(2n)) {
  margin-right: 23px;
}
.services__item:nth-child(n + 3) {
  margin-top: 24px;
}
.services__item:focus-within {
  outline: 1px solid var(--links-color);
  outline-offset: 5px;
}

.services__item-title {
  margin: 0;
}

.services__descr {
  margin: 0;

  font-size: 16px;
  line-height: 200%;
  color: var(--main-text-color);
}

.services__link {
  display: flex;
  align-items: center;
  padding-right: 23px;
  width: 100%;

  font-size: 20px;
  font-weight: 500;
  line-height: 200%;
  color: var(--links-color);
}
.services__link span {
  margin-right: 5px;
  transition: color 0.3s ease-in-out, margin-right 0.3s ease-in-out;
}
.services__link svg {
  fill: var(--links-color);
  transition: fill 0.3s ease-in-out;
}
.services__link:hover span {
  color: #f0bf5f;
  margin-right: 20px;
}
.services__link:hover svg {
  fill: #f0bf5f;
}
.services__link:active span {
  color: var(--active-color);
  margin-right: 5px;
}

.services__bc-ex {
  background-image: url("/img//bc-services-ex.jpeg");
}
.services__bc-banquet {
  background-image: url("/img/bc-services-banquet.jpeg");
}
.services__bc-pool {
  background-image: url("/img/bc-serivces-pool.jpeg");
}
.services__bc-parkink {
  background-image: url("/img/bc-services-parking.jpeg");
}

/* Services section end */

/* Advantages section start */

.advantages-title {
  margin-bottom: 30px;
}

.advantages-list {
  flex-wrap: wrap;
}

.advantages-item {
  max-width: 275px;
  padding: 40px 42px 41px 45px;

  background-color: var(--wh-text-color);
  border-radius: 15px;
}
.advantages-item:not(:nth-child(4n)) {
  margin-right: 23px;
}
.advantages-item:nth-child(n + 4) {
  margin-top: 23px;
}

.advantages-card-item {
  padding-top: 76px;
}

.advantages-item-text {
  max-width: 188px;
  margin: 0;
  padding-top: 10px;

  font-size: 16px;
  line-height: 200%;
  color: var(--main-text-color);
}

.advantages-item-icon {
  background-repeat: no-repeat;
  background-position: left top;
}

.advantages-item-icon--1 {
  background-image: url("/img/benefit-1.svg");
}
.advantages-item-icon--2 {
  background-image: url("/img/benefit-2.svg");
}
.advantages-item-icon--3 {
  background-image: url("/img/benefit-3.svg");
}
.advantages-item-icon--4 {
  background-image: url("/img/benefit-4.svg");
}
.advantages-item-icon--5 {
  background-image: url("/img/benefit-5.svg");
}
.advantages-item-icon--6 {
  background-image: url("/img/benefit-6.svg");
}
.advantages-item-icon--7 {
  background-image: url("/img/benefit-7.svg");
}
.advantages-item-icon--8 {
  background-image: url("/img/benefit-8.svg");
}

/* Advantages section end */

/* Placement section start */

.placement-title {
  margin-bottom: 30px;
}

.placement-list {
  flex-wrap: wrap;
}

.placement-item {
  width: 373px;
  height: 440px;
  background-color: var(--wh-text-color);
  border-radius: 15px;

  overflow: hidden;
}
.placement-item:not(:nth-child(3n)) {
  margin-right: 23px;
}
.placement-item:nth-child(n + 4) {
  margin-top: 24px;
}

.placement-card-item {
  width: 374px;
  min-height: 440px;
  position: relative;
}
.placement__last-item {
  background-image: linear-gradient(
    360deg,
    rgba(48, 64, 89, 0.84) -2.9%,
    rgba(53, 65, 83, 0) 65.7%
  );
}

.hotel-card-text {
  padding: 36px 45px 41px 45px;
}

.hotel-card-price {
  font-size: 16px;
  line-height: 1px;

  margin-bottom: 16px;
  align-items: center;
}

.hotel-card-text-from {
  color: var(--country-text-color);
}
.hotel-card-text-night {
  color: var(--main-text-color);
}
.hotel-card-text-price {
  font-size: 20px;
  font-weight: 700;
  color: var(--main-text-color);
}

.hotel-card-name {
  margin-bottom: 16px;

  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: var(--main-text-color);
}

.hotel-card-location {
  display: block;
  margin-bottom: 20px;

  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: var(--main-text-color);
}

.hotel-star {
  width: 14px;
  height: 14px;
}

.hotel-card-price {
  justify-content: space-between;
}

.hotel-card-link {
  align-items: center;
  color: var(--wh-text-color);

  padding-top: 373px;
  padding-left: 54px;

  font-size: 20px;
  line-height: 200%;
  font-weight: 500;
}

.hotel-card-link span {
  margin-right: 5px;
}

.hotel-card-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.placement-last-item {
  background-image: url("/img/hotel-more.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* Placement section end */

/* Tour section start */

.tour-title {
  margin-bottom: 20px;
}

.tour-container {
  padding-top: 38px;
  padding-bottom: 70px;

  border-radius: 15px;
  background-color: var(--hr-color);
}

.form {
  padding: 0 45px;
}

.form-container {
  justify-content: space-around;
  align-items: center;
  padding: 28px 28px;

  background-color: var(--wh-text-color);
  border-radius: 15px;
}

.form-left {
  justify-content: space-between;

  margin-right: 20px;
}

.fieldset-form {
  padding-right: 20px;
  padding-left: 20px;
  width: 121px;

  border-right: 1px solid #e1e1e1;
}
.fieldset-form:first-child {
  padding-left: 0;
}

.fieldset-select,
.input-select {
  width: 169px;
}

.legend-form {
  font-size: 12px;
  line-height: 12px;

  /* width: 121px; */
  margin-bottom: 15px;
}

.input-num {
  width: 121px;
  display: inline-block;

  border-bottom: 1px solid #cccccc;
}

.form-btn {
  padding: 13px 30px;
}

/* Tour section end */

/* Contacts section start */

.section__contacts {
  margin-bottom: 20px;
}

.contacts__title {
  margin-bottom: 26px;
}

.contacts__content {
  padding: 44px 44px 46px 46px;
  justify-content: space-between;
  align-items: center;

  background-color: var(--wh-text-color);
  border-radius: 15px;
  overflow: hidden;
}

.contacts__content-left {
  margin-right: 45px;

  font-style: normal;
}

.contacts__item {
  justify-content: space-between;
  align-items: baseline;
  width: 375px;
}
.contacts__item:not(:last-child) {
  border-bottom: 1px solid #c4c4c4;
}

.contacts__item-title {
  min-width: 98px;
  margin-right: 47px;

  font-size: 20px;
  line-height: 20px;
  color: var(--main-text-color);
}

.contacts__item-text {
  width: 229px;
  flex-direction: column;

  line-height: 150%;
  color: var(--main-text-color);
}

.contacts-content-right {
  height: 100%;
}

.contact__link {
  color: var(--links-color);
  transition: color 0.3s ease-in-out;
  width: 150px;
  font-size: 16px;
  line-height: 150%;
}
.contact__link:focus {
  color: var(--links-color);
  outline: 1px solid var(--links-color);
  outline-offset: 3px;
}
.contact__link:hover {
  color: #f0bf5f;
}
.contact__link:active {
  color: var(--active-color);
}

.contacts__link-descr {
  color: var(--country-text-color);
}

.contacts-item-adress {
  padding-bottom: 23px;
}
.contacts-item-phone {
  padding-top: 25px;
  padding-bottom: 31px;
}
.contacts-item-email {
  padding-top: 25px;
  padding-bottom: 30px;
}
.contacts-item-graph {
  padding-top: 25px;
  padding-bottom: 23px;
  margin-bottom: 45px;
}

.contacts__btn {
  padding: 27px 29px;
}

/* Contacts section end */

.footer {
  margin-bottom: 30px;
}

.footer-container {
  background-color: var(--title-color);

  border-radius: 15px;
}

.footer-left {
  padding: 45px 0 45px 45px;
  flex-direction: column;
  margin-right: 125px;
}

.footer-text-left {
  width: 300px;

  line-height: 190%;
  color: var(--wh-text-color);
}
.footer-text-left:first-child {
  margin-bottom: 37px;
}
.footer-text-left:nth-child(2) {
  margin-bottom: 40px;
}

.footer-link {
  line-height: 150%;
  color: var(--links-color);
}

.footer-right {
  padding: 45px 150px 0 0;
  margin-right: auto;

  flex-direction: column;

  background-image: url("/img/bc-footer.svg");
  background-repeat: no-repeat;
  background-size: 254px 228px;
  background-position: right bottom;
}

.footer-text-right {
  display: flex;
  flex-direction: column;
  width: 360px;

  color: var(--wh-text-color);
  line-height: 30px;
}
.footer-text-right:not(:last-child) {
  margin-bottom: 15px;
}

.footer-link {
  display: block;
}

.social-icons-list {
  padding: 45px 45px 0 0;
}
.social-icons-item:not(:last-child) {
  margin-bottom: 20px;
}

.social-icons-link {
  display: block;
  width: 25px;
  height: 25px;
}

.social-icons-link svg {
  fill: #999;
  transition: fill 0.3s ease-in-out;
}
.social-icons-link:focus svg {
  fill: var(--links-color);
}
.social-icons-link:hover svg {
  fill: var(--links-color);
}
.social-icons-link:active svg {
  fill: var(--active-color);
}

/* Footer start */
